*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* LOGIN Part */
.hidden{
    display: none;
}
#login-part{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
#logInForm{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
}
/* PHONEBOOK Part */
#addNumberForm{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
#phoneBook{
    text-align: center;
    padding: 20px 70px;
}
#phoneBook .pbNav{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}
#phoneBook .newContactInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 60px 0;
}
#phoneBook .newContactInput .contactForm{
    display: flex;
    gap: 100px;
}
#contactList{
    text-align: center;
    padding-bottom: 100px;
}
#contactList h3{
    text-decoration: underline;
}
#contacts-container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
#contacts-container .contact-card{
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background: #9cffc2;
  width: 70%;
}
#contacts-container .contact-card button{
  margin-left: 5px;
}
